<div class="text-layout">
    <h1>Pipes Básicos</h1>
    <p>Pipes incluidos en Angular - Usualmente en el CommonModule</p>
</div>
<div class="grid">
    <div class="col">
        <p-card header="Uppercase"
                subheader="Texto original: {{nombreLower}}">
            Salida --> {{nombreLower | uppercase}}
        </p-card>
    </div>
    <div class="col">
        <p-card header="Lowercase"
                subheader="Texto original: {{nombreUpper}}">
            Salida --> {{nombreUpper | lowercase}}
        </p-card>
    </div>
    <div class="col">
        <p-card header="Titlecase"
                subheader="Texto original: {{nombreCompleto}}">
            Salida --> {{nombreCompleto | titlecase}}
        </p-card>
    </div>
</div>
<hr>
<div class="text-layout">
    <h1>Date | Fecha | Pipe</h1>
    <p>Pipe para mostrar las fechas</p>
    <div class="grid">
        <div class="col">
            <p-card header="Formas de usar el pipe date"
                    subheader="Parametros que se pueden usar">
                <ul>
                    <li>fecha</li>
                    <li>fecha | date</li>
                    <li>fecha | date:'short'</li>
                    <li>fecha | date:'long'</li>
                    <li>fecha | date:'hh:mm a --- dd/MMMM/yyyy'</li>
                </ul>
                <hr>
                <ul>
                    <li>fecha | date:'long':'GMT-6'</li>
                    <li>fecha | date:'long':'GMT-7':'fr'</li>
                </ul>
            </p-card>
        </div>
        <div class="col">
            <p-card header="Usando el Pipe"
                    subheader="Resultados del pipe date">
                <ul>
                    <li>{{fecha}}</li>
                    <li>{{fecha | date}}</li>
                    <li>{{fecha | date:'short'}}</li>
                    <li>{{fecha | date:'long'}}</li>
                    <li>{{fecha | date:'hh:mm a --- dd/MMMM/yyyy'}}</li>
                </ul>
                <hr>
                <ul>
                    <li>{{fecha | date:'long':'GMT-6' }}</li>
                    <li>{{fecha | date:'long':'GMT-7':'fr' }}</li>
                </ul>
            </p-card>
        </div>
    </div>
</div>